body{
background:#020617;
color:#00ffcc;
font-family:monospace;
text-align:center;
padding:40px;
}

.logo{
font-size:70px;
text-shadow:0 0 30px #00ffcc;
}

.main{
margin-top:120px;
}

input{
padding:14px;
background:black;
border:1px solid #00ffcc;
color:#00ffcc;
}

button{
padding:14px 25px;
background:#00ffcc;
border:none;
cursor:pointer;
font-weight:bold;
}

.progress{
width:80%;
height:12px;
background:#111;
margin:25px auto;
border-radius:10px;
overflow:hidden;
}

#bar{
height:100%;
width:0%;
background:#00ffcc;
transition:0.3s;
}

.terminal{
width:80%;
margin:auto;
background:black;
padding:20px;
border-radius:12px;
text-align:left;
}

.found{
color:#00ffcc;
}

.notfound{
color:#ff4c4c;
}

footer{
margin-top:80px;
opacity:0.6;
}
